@font-face {
  font-family: Comic Sans MS;
  src: url("font/comic.ttf");
}

@font-face {
  font-family: Comic Sans MS;
  font-weight: bold;
  src: url("font/comicbd.ttf");
}

@font-face {
  font-family: Comic Sans MS;
  font-style: italic;
  src: url("font/comici.ttf");
}

@font-face {
  font-family: Comic Sans MS;
  font-style: italic;
  font-weight: bold;
  src: url("font/comicz.ttf");
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Comic Sans MS;
}

.container {
  background-color: rgb(0, 124, 237);
  background: linear-gradient(
    to bottom,
    rgb(0, 124, 237) 1%,
    rgb(204, 231, 255) 100%
  );
}

.intro-stripe {
  width: 100%;
  position: absolute;
  z-index: 5;
  padding: 0;
  background-color: rgba(0, 128, 0, 0.747);
  margin: 0;
  text-align: center;
  color: red;
  font-size: 0.7em;
}
#cloud-intro {
  position: relative;
  height: 100%;
  background: url(Images/clouds1000.png);
  background: url(Images/clouds1000.png) 0 200px,
    url(Images/clouds1200_1.png) 0 300px,
    url(Images/clouds1000_blur3.png) 100px 250px;
  animation: wind 20s linear infinite;
}
@keyframes wind {
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

@keyframes swivel {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}

.picture_container {
  margin: auto;
  text-align: center;
  padding-top: 200px;
}
.house_img {
  width: 800px;
  height: 400px;
  animation: swivel 10s infinite linear;
}

.house_img_2 {
  height: 625px;
  animation: swivel 10s infinite linear;
  margin: auto;
}

@keyframes modalAnimation {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 150px;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  bottom: 10%;
  width: 100%;
  height: 89%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-image: url(Images/open_book_2.jpg);
  margin: auto;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: 100% 87%;
  width: 92%;
  height: 100%;
}
.modal-text-container {
  position: relative;
  height: inherit;
}
.modal-left-text-index {
  width: 40%;
  margin-left: 7%;
  margin-top: 4%;
  height: 72%;
  float: left;
  text-align: center;
  overflow-y: auto;
}
.modal-right-text-index {
  width: 41%;
  margin-right: 3%;
  height: 72%;
  margin-top: 3%;
  margin-bottom: 6%;
  float: right;
  overflow-y: auto;
}
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

table {
  width: 100%;
  border: 5px solid green;
  text-align: center;
  padding: 10px;
  border-collapse: collapse;
}

table td,
table th {
  border: 5px solid grey;
  padding: 5px;
}

th {
  border: 5px solid grey;
  background-color: teal;
  font-size: x-large;
}

tr:nth-child(odd) {
  background-color: tomato;
}
tr:nth-child(even) {
  background-color: green;
}

tr:hover:nth-child(odd) {
  color: white;
  background-color: black;
  transition: 1.5s;
}

tr:hover:nth-child(even) {
  color: red;
  background-color: blue;
  transition: 1.5s;
}

tr:not(:hover):nth-child(odd) {
  transition: 1.5s;
}

tr:not(:hover):nth-child(even) {
  transition: 1.5s;
}

ol {
  text-align: justify;
}
ul {
  text-align: justify;
}

.tables {
  display: none;
}
.table_items {
  display: none;
  padding-right: 6%;
  padding-left: 3%;
  text-align: justify;
  font-size: large;
}

h2 {
  text-align: center;
  text-decoration: underline red;
}

#choose_something_text {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}
area {
  cursor: url("Images/pin.png"), auto;
}
#house_modal_2 {
  display: none;
}

@media screen and (min-height: 920px) and (min-width: 1900px) {
  #house_modal {
    display: none;
  }
  #house_modal_2 {
    display: block;
  }
}

#playText {
  font-size: 20px;
  font-family: Comic Sans MS;
  color: blue;
}

#playButton {
  cursor: pointer;
  display: inline-block;
}
#pauseButtonDisabled {
  display: inline-block;
  cursor: not-allowed;
}
#pauseText {
  font-size: 20px;
  color: red;
}
#pauseButton {
  cursor: pointer;
  display: none;
}
#playButtonDisabled {
  display: none;
  cursor: not-allowed;
}
.fa-stop-circle {
  font-size: 26px;
}
#stopButtonDisabled {
  display: inline-block;
  cursor: not-allowed;
}
#stopButton {
  display: none;
  cursor: pointer;
}
